



.bg-factor{
    background-image: url("../../assets/images/polygon.png");
    background-position: right bottom;
    background-size: 5%;
    background-repeat: no-repeat;
}

.btn-factor{
    background: linear-gradient(95deg, #083F9B 0%, #7F56D9 102.25%);
}