




#courses{
    background: linear-gradient(180deg, #D9ECFF 0%, rgba(240, 243, 255, 0.00) 127.78%);

    background-image: url(../../assets/icons/course-ellipse.svg);
    background-repeat: no-repeat;
    background-size: 5%;
    background-position: 100px 150px;
}