


.intro-top{
    background: linear-gradient(257deg, rgba(4, 1, 108, 0.80) 0.69%, rgba(74, 22, 189, 0.80) 100%);
}

.intro-search{
    background: linear-gradient(96deg, #3023B2 1%, #7F56D9 100.05%);
}

.intro-bottom{
    background: linear-gradient(180deg, #084FC7 0%, rgba(8, 79, 199, 0.00) 172.16%);
}